@model IEnumerable<MvcMember.Models.V_ExchangePoint>

@{
    ViewBag.Title = "积分兑换记录";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#Date1").datepicker();
        $("#Date2").datepicker();
    });
</script>
<h2>积分兑换记录</h2>
@Html.Partial("_LoadAuth")
@using (Ajax.BeginForm("ExchangeList", "Activity", new AjaxOptions { UpdateTargetId = "grid" }))
{
    IDictionary<string, string> searchConditions = new Dictionary<string, string>();
    if (TempData["SearchConditions"] != null)
    {
        searchConditions = TempData["SearchConditions"] as Dictionary<string, string>;
    }
    this.TempData["SearchConditions"] = searchConditions;
    string date1 = searchConditions.Keys.Contains("Date1") ? searchConditions["Date1"] : string.Empty;
    string date2 = searchConditions.Keys.Contains("Date2") ? searchConditions["Date2"] : string.Empty;
    string name = searchConditions.Keys.Contains("Name") ? searchConditions["Name"] : string.Empty;
    string cardno = searchConditions.Keys.Contains("CardNo") ? searchConditions["CardNo"] : string.Empty;
    string carno = searchConditions.Keys.Contains("CarNo") ? searchConditions["CarNo"] : string.Empty;

    var grid = new WebGrid(source: Model,
        ajaxUpdateContainerId: "grid",
        rowsPerPage: 12,
        canPage: true,
        pageFieldName: "paging",
        sortFieldName: "sortField",
        selectionFieldName: "SelectedRow");


<p style="padding-left:5px; padding-bottom:2px; height:18px;">
    @Html.ActionLink("新增积分兑换", "Exchange", null, new { title = "新增新增积分兑换" })
</p>
<div style="background-color:#dbeafd;margin-left:5px; margin-bottom:3px;" >
    兑换日期：@Html.TextBox("Date1", @date1, new { style = "width: 85px;" }) 到 @Html.TextBox("Date2", @date2, new { style = "width: 85px;" })
    客户姓名：@Html.TextBox("Name", @name, new { style = "width: 60px;" })
    会员卡号：@Html.TextBox("CardNo", @cardno, new { style = "width: 60px;" })
    车牌号码：@Html.TextBox("CarNo", @carno, new { style = "width: 70px;" })
    
    <input type="submit" style="width:80px;" value="查 询"/>
</div>    
<div id="grid" style="padding-left:5px;">
    @grid.GetHtml(
    tableStyle: "grid",
    headerStyle: "head",
    selectedRowStyle: "alt",
    alternatingRowStyle: "alt",
    rowStyle: "webgrid-row-style",
    nextText: "下一页",
    previousText: "上一页",
    numericLinksCount: 10,
    columns: grid.Columns(
                grid.Column("Name", "客户名称"),
                grid.Column("CarNO", "车牌号码"),
                grid.Column("CardNo", "会员卡号"),
                grid.Column("GiftName", "礼品名称"),
                grid.Column("Integral", "兑换积分"),
                grid.Column("SendNum", "兑换数量"),
                grid.Column("ChangeIntegral", "本次使用积分"),
                grid.Column("CBlanceIntegral", "期初剩余积分"),
                grid.Column("Creator", "操作人"),
                grid.Column("CreateDate", "操作日期", format: @<text>@item.CreateDate.ToShortDateString()</text>)

              )
          )
</div>
<p>　总记录数：@Html.Encode(grid.TotalRowCount)　总页数：@Html.Encode(grid.PageCount)</p>
}
